@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_master.cshtml";
}

<h2>Engagement</h2>

<div class="row-fluid">
    <div class="spsn4">
        <p>
            Story Here
        </p>
    </div>
</div>
