@{
    ViewBag.Title = "Reception";
    Layout = "~/Views/Shared/_master.cshtml";
}

<div class="page container">
    <div class="row-fluid">
        <div class="thumbnail">
            <h3 class="paragraphTitle">Reception</h3>
            <p class="description">
                Our reception will be held at Stone Creek Banquet hall in Flatrock, Michigan. 
                Doors will open at 5pm and dinner will be served at 6pm.
            </p>
        </div>
    </div>    
</div>
