@{
    ViewBag.Title = "Reception";
    Layout = "~/Views/Shared/_master.cshtml";
}

<div class="page container">
    <div class="row-fluid">
        <div class="thumbnail">
            <h3 class="paragraphTitle">Reception</h3>
            <p class="description">
                Our reception will be held at Stone Creek Banquet Hall. Time is TBD.
            </p>

            <h3 class="paragraphTitle">Directions</h3>
            <p class="description">
                <strong>From Telegraph Road:</strong>
                Take Telegraph Road to Gibraltar Road. (There is a 5/3 bank on the 
                corner of Telegraph and Gibraltar). Drive East on Gibraltar Road 2.8 
                miles. Turn right onto Commerce Drive. Turn left onto Maguire Street. 

                <br />
                <br />

                <strong>From I-75 Freeway:</strong>
                Take I-75 to Exit 29 (Flat Rock). Drive West on Gibraltar road for less 
                than 1/4 of a mile. Turn left onto Commerce Drive. Turn left onto 
                Maguire. 

                <br />
                <br />
 
                <strong>From I-275 Freeway:</strong>
                Take I-275 to Exit 8 (Will Carleton Road). Drive East on Will Carleton 
                Road for 4.5 miles until Will Carleton ends. Turn left onto Telegraph 
                Road. Turn right onto Gibraltar Road (there is a 5/3 bank on the 
                corner of Telegraph and Gibraltar). Drive East on Gibraltar Road 2.8 
                miles. Turn right onto Commerce Drive. Turn left onto Maguire Street.
            </p>
        </div>
    </div>    
</div>
