@{
    ViewBag.Title = "Registery";
    Layout = "~/Views/Shared/_master.cshtml";
}

<div class="page container">
    <div class="row-fluid">
        <div class="thumbnail">
            <h3 class="paragraphTitle">Registry</h3>
            <p class="description">
                Description and content of Registry information
            </p>
        </div>
    </div>    
</div>

