@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_master.cshtml";
}

<div class="container">
    <div class="row-fluid">
        <div class="thumbnail">
            <h3 class="paragraphTitle">Our Engagement</h3>
            <p class="description">
                Michael had a business trip planned to Las Vegas with a spare couple days so Andrea 
                decided to visit since we've always wanted to go to Vegas together. Our first day 
                together we rented a car and drove to Red Rock Canyon to take the scenic 13 mile 
                drive through the national park. On the first stop of the drive we walked to a boulder 
                and Andrea began to take a picture of themselves, selfie style. A kind stranger saw 
                us and asked if we wanted her to take a picture of us, we happily agreed and she took 
                the picture. As she was getting ready to hand back the camera, Michael ask if she 
                could take one more picture. She agreed and Michael then proceeded to pull the ring 
                box out of his pocket as he was down on one knee and asked Andrea to marry him. Andrea 
                burst in to tears, not able to process what was actually going on, Michael swears she 
                couldn't even get out the word yes! 
                <br />
                <br />
                It was truly one of the happiest moments in Andrea's life, Michael swears he had it all 
                planned. A trip we will never forget and a spot we will always be able to visit in the future!
            </p>
        </div>
    </div>
