@{
    ViewBag.Title = "Ceremony";
    Layout = "~/Views/Shared/_master.cshtml";
}

<div class="page container">
    <div class="row-fluid">
        <div class="thumbnail">
            <h3 class="paragraphTitle">Ceremony</h3>
            <p class="description">
                Our ceremony will be held at the Lakes of Taylor Golf Club.
                The ceremony will be officiated by Reverend Fred Jolicoeur and will begin at 4pm.                 
            </p>

            <h3 class="paragraphTitle">Directions</h3>
            <p class="description">
                <strong>FROM THE WEST & METRO AIRPORT:</strong>
                <br />
                I-275 South to I-94.  I-94 East to exit 200, Ecorse Road. This ramp takes you 
                east, continue going east on Ecorse to the first stop light, which is Beech 
                Daly Road.  Turn right onto Beech Daly Road.  Follow Beech Daly south 3 miles 
                to Northline Road.  Turn left onto Northline (east) and into the right lane.  
                Lakes is on the right (south) side of the Northline, just past the Animal Shelter.
                <br />
                <br />

                <strong>FROM THE NORTH:</strong>
                <br />
                Southfield Freeway south to I-94 west.  I-94 west about 3 miles to Telegraph Road 
                (US 24) south.  Stay left on the exit ramp.   Follow Telegraph south about 3 ½ miles 
                to Northline Road, just before White Castle.  Turn right (west) onto Northline.  
                Follow Northline west about ¾ of a mile, Lakes in on the left (south) side of Northline.
                <br />
                <br />

                <strong>FROM THE EAST:</strong>
                <br />
                I-75 south to exit 37, Northline Road.  Turn right onto Northline.  Follow Northline 
                west 3 miles, Lakes is ¾ of a mile west of Telegraph, on the left (south) side of Northline
                <br />
                <br />
                
                <strong>FROM THE SOUTH:</strong>
                <br />
                I-75 north to exit 35, Telegraph Road (US 24). Exit will be on the left.  Follow 
                Telegraph north about 1½ miles to Northline Road, (stay in left lane).  Pass Northline 
                and do a Michigan U-turn onto Telegraph south and into the right lane.  Turn right onto 
                Northline.  Follow Northline west about ¾ of a mile, Lakes in on the left (south) side 
                of Northline.
                <br />
                <br />

                <strong>FROM THE SOUTHWEST:</strong>
                <br />
                I-275 North to Eureka Road.  Turn right onto Eureka.  Follow Eureka past metro apirport 
                (the sequence of streets will be Wayne, Merriman, Middlebelt, Inkster, Beech Daly), to Beech 
                Daly.  Turn left onto Beech Daly.  Follow Beech Daly north for 1 mile.  At first stoplight, 
                Northline Road, turn right.  Lakes is on the right (south) side of Northline, just past the 
                Animal Shelter.
                <br />
                <br />
            </p>
        </div>
    </div>
</div>
