@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_master.cshtml";
}

<div class="container">
    <div class="row-fluid">
        <div class="thumbnail">
            <h3 class="paragraphTitle">Andrea & Michael</h3>
            <p class="description">
                Andrea graduated from The University of Michigan- Dearborn in 2010 with a B.A. 
                Environmental Studies. She is currently working at Quicken Loans in Detroit as 
                a payment processor. Michael graduated from The University of Michigan- Dearborn 
                in 2012 with a B.S. in Computer Science. He is currently working at Quicken Loans 
                in Detroit as a software engineer. We are very fortunate to have wonderful family 
                and friends that we love spending time with. We also enjoy spending time with 
                our cat, Sally!  We enjoy traveling 
                as much as possible- so far we have taken trips to Frankenmuth, London (Ontario), 
                and Las Vegas.
            </p>

            <h3 class="paragraphTitle">How We Met</h3>
            <p class="description">
                We have known each other since highschool, we both spent time in the same circle 
                of friends but never paid much attention to each other. We also went to the same 
                college, but never saw much of each other. It wasn't until our friend, and Best Man, 
                Greg Newton brought Michael to Andrea's birthday party in the Fall of 2010 that we 
                started talking hit it off immediately. Ever since that first day we have been near inseperable. 
            </p>
        </div>
    </div>
</div>

